In [1]:
import pandas as pd

In [5]:
hurricanes = pd.read_csv('./cleaned_data_csv/Hurricane_Cleaned_RowCounties.csv')

In [13]:
hurricanes.head()

,Year,Mo,Category,Centroid Pressure,Max Wind Speed,Name,County,State,"County, ST"
0,2001,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2002,Oct,1.0,963.0,80.0,Lili,NaN,NaN,NaN
2,2003,Jul,1.0,979.0,80.0,Claudette,Galveston,TX,"Galveston, TX"
3,2003,Jul,1.0,979.0,80.0,Claudette,Calhoun,TX,"Calhoun, TX"
4,2003,Sep,2.0,957.0,90.0,Isabel,NaN,NaN,NaN

In [11]:
hurricanes['County, ST'] = hurricanes['County'] + ', ' + hurricanes['State']

In [7]:
CountyEcon = pd.read_csv('./cleaned_data_csv/County2000sEcon.csv')

In [9]:
CountyEcon.columns

Index(['Location', 'Year',
       ' Net earnings by place of residence(Thousands of dollars)',
       ' Personal current transfer receipts(Thousands of dollars)',
       '  Income maintenance benefits 1/(Thousands of dollars)',
       '  Unemployment insurance compensation(Thousands of dollars)',
       '  Retirement and other(Thousands of dollars)',
       ' Dividends, interest, and rent 2/(Thousands of dollars)',
       ' Population (persons) 3/(Number of persons)',
       ' Per capita personal income 4/(Dollars)',
       ' Per capita net earnings 4/(Dollars)',
       ' Per capita personal current transfer receipts 4/(Dollars)',
       '  Per capita income maintenance benefits 4/(Dollars)',
       '  Per capita unemployment insurance compensation 4/(Dollars)',
       '  Per capita retirement and other 4/(Dollars)',
       ' Per capita dividends, interest, and rent 4/(Dollars)',
       ' Earnings by place of work(Thousands of dollars)',
       '  Wages and salaries(Thousands of dollars)',
       '  Supplements to wages and salaries(Thousands of dollars)',
       '   Employer contributions for employee pension and insurance funds 5/(Thousands of dollars)',
       '   Employer contributions for government social insurance(Thousands of dollars)',
       '  Proprietors' income(Thousands of dollars)',
       '   Farm proprietors' income(Thousands of dollars)',
       '   Nonfarm proprietors' income(Thousands of dollars)',
       'Total employment (number of jobs)(Number of jobs)',
       ' Wage and salary employment(Number of jobs)',
       ' Proprietors employment(Number of jobs)',
       '  Farm proprietors employment 6/(Number of jobs)',
       '  Nonfarm proprietors employment(Number of jobs)',
       'Average earnings per job (dollars)(Dollars)',
       ' Average wages and salaries(Dollars)',
       ' Average nonfarm proprietors' income(Dollars)'],
      dtype='object')

In [10]:
CountyEcon.head(2)

,Location,Year,Net earnings by place of residence(Thousands of dollars),Personal current transfer receipts(Thousands of dollars),Income maintenance benefits 1/(Thousands of dollars),Unemployment insurance compensation(Thousands of dollars),Retirement and other(Thousands of dollars),"Dividends, interest, and rent 2/(Thousands of dollars)",Population (persons) 3/(Number of persons),Per capita personal income 4/(Dollars),...,Farm proprietors' income(Thousands of dollars),Nonfarm proprietors' income(Thousands of dollars),Total employment (number of jobs)(Number of jobs),Wage and salary employment(Number of jobs),Proprietors employment(Number of jobs),Farm proprietors employment 6/(Number of jobs),Nonfarm proprietors employment(Number of jobs),Average earnings per job (dollars)(Dollars),Average wages and salaries(Dollars),Average nonfarm proprietors' income(Dollars)
0,"Angelina, TX",2001,1208084,367525,34357,6629,326539,328077,80273,23715,...,5702,173082,45279,37510,7769,967,6802,31156,26811,25446
1,"Angelina, TX",2002,1243683,401729,41272,11058,349399,313983,80803,24249,...,6901,184940,45313,37406,7907,908,6999,31769,27036,26424

In [16]:
MergedDS = pd.merge(CountyEcon,hurricanes, how = 'left', left_on = ['Location','Year'], right_on = ['County, ST','Year'])

In [15]:
MergedDS.head(10)

,Location,Year_x,Net earnings by place of residence(Thousands of dollars),Personal current transfer receipts(Thousands of dollars),Income maintenance benefits 1/(Thousands of dollars),Unemployment insurance compensation(Thousands of dollars),Retirement and other(Thousands of dollars),"Dividends, interest, and rent 2/(Thousands of dollars)",Population (persons) 3/(Number of persons),Per capita personal income 4/(Dollars),...,Average nonfarm proprietors' income(Dollars),Year_y,Mo,Category,Centroid Pressure,Max Wind Speed,Name,County,State,"County, ST"
0,"Angelina, TX",2001,1208084,367525,34357,6629,326539,328077,80273,23715,...,25446,2005.0,Sep,3.0,937.0,100.0,Rita,Angelina,TX,"Angelina, TX"
1,"Angelina, TX",2002,1243683,401729,41272,11058,349399,313983,80803,24249,...,26424,2005.0,Sep,3.0,937.0,100.0,Rita,Angelina,TX,"Angelina, TX"
2,"Angelina, TX",2003,1290815,433073,47089,10690,375294,312656,81510,24985,...,26212,2005.0,Sep,3.0,937.0,100.0,Rita,Angelina,TX,"Angelina, TX"
3,"Angelina, TX",2004,1357632,456691,50301,7293,399097,297946,82070,25737,...,23733,2005.0,Sep,3.0,937.0,100.0,Rita,Angelina,TX,"Angelina, TX"
4,"Angelina, TX",2005,1395134,497516,58146,4917,434453,314246,82553,26733,...,21850,2005.0,Sep,3.0,937.0,100.0,Rita,Angelina,TX,"Angelina, TX"
5,"Angelina, TX",2006,1483929,530496,58031,4025,468440,346468,83810,28170,...,21278,2005.0,Sep,3.0,937.0,100.0,Rita,Angelina,TX,"Angelina, TX"
6,"Angelina, TX",2007,1542807,577099,60167,4264,512668,393445,84518,29737,...,20336,2005.0,Sep,3.0,937.0,100.0,Rita,Angelina,TX,"Angelina, TX"
7,"Angelina, TX",2008,1589495,633009,68525,6469,558015,435490,84961,31285,...,22119,2005.0,Sep,3.0,937.0,100.0,Rita,Angelina,TX,"Angelina, TX"
8,"Angelina, TX",2009,1528570,694239,77562,22367,594310,400580,86029,30494,...,22122,2005.0,Sep,3.0,937.0,100.0,Rita,Angelina,TX,"Angelina, TX"
9,"Angelina, TX",2010,1578179,755866,86359,22791,646716,387347,86903,31315,...,25416,2005.0,Sep,3.0,937.0,100.0,Rita,Angelina,TX,"Angelina, TX"